name: Check homework

on: [push]

jobs:
  runner-job:
    if: ${{ github.repository_owner != 'ktsstudio' }}
    runs-on: ubuntu-latest

    env:
      IMAGE: 'ktshub/backend-summer-2021:task-6ff8c4a9-3f65-442b-b91c-1f5aaa9c3581'
      CONFIGPATH: /go/code/source/tests/config.yml
      PYTHONPATH: /go/code/source

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3

      - name: set project_path
        run: echo "PROJECTPATH=$(pwd)" >> $GITHUB_ENV

      - name: check demo.sql
        run: ls -lah tests/data/

      - name: import db
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_DATABASE: postgres
          POSTGRES_PASSWORD: postgres
        run: |
          export PGPASSWORD="$POSTGRES_PASSWORD"
          psql --host="$POSTGRES_HOST" \
               --port="$POSTGRES_PORT" \
               --username="$POSTGRES_USER" \
               --dbname="$POSTGRES_DATABASE" \
               < tests/data/demo.sql

      - name: run main in docker
        run: |
          docker run \
            --entrypoint /bin/bash \
            -e GITHUB_REPOSITORY \
            -e GITHUB_REF \
            -e CONFIGPATH=${{ env.CONFIGPATH }} \
            -e PYTHONPATH=${{ env.PYTHONPATH }} \
            --network host \
            --mount src="$(pwd)",target=/go/code/source,type=bind \
            ${{ env.IMAGE }} \
            -c "mv build/main source && ls -lah && cd source && ./main"

      - name: run pytest
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pytest -v tests/
